USE [master]
GO
/****** Object:  Database [ExamMarkSoftware]    Script Date: 6/25/2021 4:11:18 PM ******/
CREATE DATABASE [ExamMarkSoftware]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExamMarkSoftware', FILENAME = N'D:\SET UP\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\ExamMarkSoftware.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ExamMarkSoftware_log', FILENAME = N'D:\SET UP\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\ExamMarkSoftware_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExamMarkSoftware].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExamMarkSoftware]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 6/25/2021 4:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[accountID] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[accountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 6/25/2021 4:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[className] [nvarchar](50) NOT NULL,
	[accountID] [int] NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[className] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScoreStudent]    Script Date: 6/25/2021 4:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScoreStudent](
	[StudentID] [nvarchar](50) NOT NULL,
	[examCode] [int] NOT NULL,
	[className] [nvarchar](50) NOT NULL,
	[totalScore] [float] NOT NULL,
	[scoreDetail] [ntext] NULL,
	[studentName] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK_Class_Account] FOREIGN KEY([accountID])
REFERENCES [dbo].[Account] ([accountID])
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK_Class_Account]
GO
ALTER TABLE [dbo].[ScoreStudent]  WITH CHECK ADD  CONSTRAINT [FK_ScoreStudent_Class] FOREIGN KEY([className])
REFERENCES [dbo].[Class] ([className])
GO
ALTER TABLE [dbo].[ScoreStudent] CHECK CONSTRAINT [FK_ScoreStudent_Class]
GO
USE [master]
GO
